.header {
    margin: 0 2.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content:space-between;
}
.header__icon {
    width: 80px;
    cursor: pointer;
}

.headerLeft {
    
    display: flex;
    align-items: center;

}

span{
    position: relative;
    left:40px;
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

span:hover {
    color: rgb(221, 15, 135);
}

.header__icon {
    width: 80px;
    cursor: pointer;
}